.item {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 2px 7px 6px #201e1e7c;
  border-radius: 6px;
  background-color: #a1a7a7;
  position: relative;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  color: #181d1d;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #3a4242;
}

.col-right {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 5rem;
  bottom: 1rem;
  right: 1.5rem;
}
/* .col-right .remove {
  margin-bottom: 1.6rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  font-size: 1.6rem;
  cursor: pointer;
} */
.fullscreen,
.remove {
  color: var(--primary-font-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen:hover,
.remove:hover {
  background-color: var(--shadow);
  border-radius: 50%;
}
.col-right a:active,
.col-right a:visited,
.col-right a {
  color: var(--primary-font-color);
}
