:root {
  --primary-font-color: #000000;
  --secondary-font-color: #615959b4;
  --primary-color: #e4b51afd;

  --neutral-color: #eec12efd;
  --shadow: #899595;
}
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fdfdfd;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.btn {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn:active {
  background-color: var(--neutral-color);
  border-color: var(--primary-color);
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: var(--primary-color);
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.btn--minimal {
  font: inherit;
  color: var(--primary-font-color);
  border: 2px solid var(--primary-color);
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 3rem;
  cursor: pointer;
}
.btn--minimal:hover {
  background-color: var(--primary-color);
}
.error-text {
  color: red;
}
