:root {
  --primary-font-color: #000000;
  --primary-color: #e4b51afd;

  --neutral-color: #eec12efd;
}
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fdfdfd;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--neutral-color);
  border-color: var(--primary-color);
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}

.error-text {
  color: red;
}
